# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# -----------------------------------------------------------------------------
# ESP-IDF Specific Ignored Files and Directories
# (Crucial for ESP32 projects)
# -----------------------------------------------------------------------------

# The main build output directory for the firmware
# This typically resides inside the 'firmware/' directory of your project.
/firmware/build/

# The generated sdkconfig file
# This is created/modified by 'idf.py menuconfig' or 'idf.py build'.
# You should track 'sdkconfig.defaults' instead for reproducibility.
/firmware/sdkconfig
/firmware/sdkconfig.old 

# Generated binary firmware files
/firmware/*.bin
/firmware/*.elf     
/firmware/*.map   
/firmware/*.dis

# Temporary files/folders created by ESP-IDF tools
/firmware/flasher_args.json
/firmware/flash_project_args
/firmware/size.json

# If you use Espressif's component manager to install managed components
/firmware/managed_components/
